.burger_icon {
    width: 32px;
    height: 32px;
    position: relative;
    z-index: 2;
    overflow: hidden;

    span {
        width: 18px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFFFFF;
        transition: all 0.5s;
    }
}


.burger_icon span:nth-of-type(2) {
    top: calc(50% - 5px);
}

.burger_icon span:nth-of-type(3) {
    top: calc(50% + 5px);
}

.close_icon {
    position: absolute;
    top: 10px;
    right: 60px;
    cursor: pointer;
}

.close_icon:before,
.close_icon:after {
    content: "";
    position: absolute;
    top: 21px;
    left: 10px;
    width: 18px;
    height: 2px;
    background: #EC6F5D;
}

.close_icon:before {
    transform: rotate(45deg);
}

.close_icon:after {
    transform: rotate(-45deg);
}

#burger_input,
.burger_icon, 
.close_icon {
    display: none;
}

.burger_icon {
    line-height: 0;

    @media (max-width: 600px) {
        display: block;
        position: fixed;
        right: 22px;
        top: 75px;
        transform: translateY(-50%);
        font-size: 25px;
        z-index: 2;
    }
}

.close_icon {
    @media (max-width: 600px) {
        display: block;
        position: fixed;
        z-index: 2;
        }
}

.header_nav {
    @media (max-width: 600px) {
        position: fixed;
        display: flex;
        flex-direction: column;
        border-radius: 12px 12px 0px 0px;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: 8px;
        margin-right: 8px;
        background: #FFFFFF;
        transform: translatey(100%);
        transition: transform 0.1s linear;
        padding-top: 64px;
        z-index: 1;
        min-width: 0;
    }
}

.header {
    .conteiner {
        .header_nav {
            a {
                @media (max-width: 600px){
                color: #24A3FF;
                text-align: center;
                background-color: #F5F5FA;
                padding: 7px;
                margin-bottom: 15px;
                border-radius: 12px;

                &:hover {
                    color: #F0145A;
                }
                }
            }
        }
    }
}

#burger_input:checked~.header_nav {
    @media (max-width: 600px) {
        transform: translatey(0);
    }
}

#close_input:checked~.header_nav  {
    @media (max-width: 600px) {
    transform: translatey(0);
    }
}


#burger_input:checked~.burger_icon {
    @media (max-width: 600px) {
        border: 1px solid #E6E6F0;
        border-radius: 8px;
        background-color: #E6E6F0;
    }
}

#burger_input:checked~.burger_icon span {
    @media (max-width: 600px) {
        background-color: #323264;
    }
}